In [ ]:
import pandas as pd

df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

df

In [ ]:
df['Age']

In [ ]:
df['Age'].max()

In [ ]:
df.describe()

## 2.read and write table

- install

```
pip install notebook
pip install xlrd
pip install openpyxl

xlrd更新到了2.0.1版本,只支持.xls文件,可以安装旧版xlrd 1.2.0,也可以用openpyxl代替xlrd打开.xlsx文件
pip install xlrd==1.2.0
```

In [ ]:
test = pd.read_excel('test.xls')

In [ ]:
test

In [ ]:
test.head(1)

In [ ]:
test.dtypes

In [ ]:
test.to_excel("test.xlsx", sheet_name="Sheet1", index=False)

In [21]:
test = pd.read_excel("test.xlsx",sheet_name="Sheet1",engine='openpyxl')

In [22]:
test

   *用户编码   *用户姓名 *所属部门 *用户状态         *手机号 *员工类型  IC卡号  邮箱
0  H0002  用户0002  制造中心    启用  18818111002    固定   803 NaN
1  H0003  用户0003  制造中心    启用  18818111003    固定   804 NaN
2  H0004  用户0004  制造中心    启用  18818111004    固定   805 NaN

In [24]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   *用户编码   3 non-null      object
 1   *用户姓名   3 non-null      object
 2   *所属部门   3 non-null      object
 3   *用户状态   3 non-null      object
 4   *手机号    3 non-null      int64
 5   *员工类型   3 non-null      object
 6   IC卡号    3 non-null      int64
 7   邮箱      0 non-null      float64
dtypes: float64(1), int64(2), object(5)
memory usage: 320.0+ bytes

## select a subset of a DataFrame

In [25]:
phone_and_ic = test[['IC卡号','*手机号']]

In [26]:
phone_and_ic.shape

(3, 2)

In [27]:
phone_and_ic.head()

   IC卡号         *手机号
0   803  18818111002
1   804  18818111003
2   805  18818111004

In [29]:
above_803 = test[test['IC卡号'] > 803]
above_803.head()

   *用户编码   *用户姓名 *所属部门 *用户状态         *手机号 *员工类型  IC卡号  邮箱
1  H0003  用户0003  制造中心    启用  18818111003    固定   804 NaN
2  H0004  用户0004  制造中心    启用  18818111004    固定   805 NaN

In [30]:
class_34 = test[test['IC卡号'].isin([803,804])]
class_34.head()

   *用户编码   *用户姓名 *所属部门 *用户状态         *手机号 *员工类型  IC卡号  邮箱
0  H0002  用户0002  制造中心    启用  18818111002    固定   803 NaN
1  H0003  用户0003  制造中心    启用  18818111003    固定   804 NaN

In [32]:
class_34 = test[(test['IC卡号']==803) | (test['IC卡号']==804)]
class_34.head()

   *用户编码   *用户姓名 *所属部门 *用户状态         *手机号 *员工类型  IC卡号  邮箱
0  H0002  用户0002  制造中心    启用  18818111002    固定   803 NaN
1  H0003  用户0003  制造中心    启用  18818111003    固定   804 NaN

- select sepeciffic rows and column from a DataFrame